<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx.xsd
	   http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
    <import resource="classpath:spring-mybatis.xml"/>

    <context:property-placeholder location="classpath:config/db.properties" order="1" ignore-unresolvable="true"/>
    <context:property-placeholder location="classpath:config/dubbo.properties" order="2" ignore-unresolvable="true"/>
    <context:property-placeholder location="classpath:config/cdn.properties" order="3" ignore-resource-not-found="true"/>

    <!--开启注解配置-->
    <context:annotation-config/>
    <!--开启AOP，使用aspectj-->
    <aop:aspectj-autoproxy/>

	<dubbo:annotation package="docren.com"/>
    <!-- 定义扫描根路径，不使用默认的扫描方式 -->
    <context:component-scan base-package="docren.com" use-default-filters="false">
        <!-- 扫描符合@Repository的类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <!-- 扫描符合@Service的类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <!-- 扫描符合@Controller的类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <!-- 扫描符合@Component的类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    </context:component-scan>


    <import resource="classpath:duubo.xml"/>
    <!--<import resource="classpath:ApplicationContext.xml"/>-->

</beans>